# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/
work/

.vscode/
jenkins.war

pom.xml.releaseBackup
release.properties

# Generated Tekton POJOs
target/generated-sources/tekton/
src/main/java/org/waveywaves/jenkins/plugins/tekton/generated/