---
name: Javadoc

on:
  pull_request:

jobs:
  javadoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v4.7.1
        with:
          distribution: 'temurin'
          java-version: 17

      - name: Javadoc
        run: |
          mvn --no-transfer-progress javadoc:javadoc
