---
name: SpotBugs

on:
  pull_request:

jobs:
  spotbugs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.1.0

      - name: Setup Java
        uses: actions/setup-java@v3.9.0
        with:
          distribution: 'temurin'
          java-version: 11

      - name: SpotBugs
        run: |
          mvn --no-transfer-progress spotbugs:check
